#formContainer{
    background-image: url("https://i.gifer.com/origin/1c/1c6bbae1cea5449564aa721944a14ffd.gif");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

form{
        font-family: "Power Green";
        display: flex;
        width: 50vw;
        height: 50vh;
        background-color: rgba(31, 125, 202, 0.4);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        align-items: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;

}