#Pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-top: 1.6em;
}

#Page {
  background: #ffcc13;
  font-family: 'Power Green';
  padding: 0.2em 0.8em;
  font-weight: 800;
  font-size: 1.6rem;
  border: 1px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  margin: 0.5rem;
}

#Page:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

#Page:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}
